<!DOCTYPE html>
<html>
  <head>
    <title>Сохранение страниц по ссылкам</title>

    <%= javascript 'jquery.min' %>
    <%= javascript 'extensions' %>
    <%= javascript 'application' %>

    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
